<?xml version="1.0" encoding="UTF-8"?>

<plugin
   id="arch-h2"
   name="Arch H2 plugin"
   version="1.7"
   provider-name="cass.csiro.au">


   <runtime>
      	<library name="arch-h2.jar">
      		<export name="*"/>
      	</library>
   </runtime>

   <requires>
		<import plugin="nutch-extensionpoints"/>
   </requires>

   <extension id="au.csiro.cass.arch.sql.DBInterface"
              name="Arch H2 plugin"
              point="au.csiro.cass.arch.sql.DBInterface">
      <implementation id="DBInterfaceH2"
                      class="au.csiro.cass.arch.sql.DBInterfaceH2">
         <parameter name="database" value="H2"/>
      </implementation>
   </extension>

</plugin>
